[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
[user]
	email = mick@z1m.net
	name = Mick O'Halloran
[alias]
	root = !pwd
	ish = !sh -c \"git rev-parse ${1:-HEAD} | cut -c 1-7\" -
[rebase]
	autosquash = true
[push]
	default = simple
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
